.horizontalBlock {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    width: 100%;
}

.verticalBlock {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
}

.avatarContainer {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 75px;
    overflow: hidden;
}

.avatarContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.name {
    font-style: normal;
    font-weight: 400;
    font-size: 20pt;
    letter-spacing: 0.1em;
    color: #1E1E1E;
}

.buttonBlock {
    width: min-content;
    text-wrap: nowrap;
    justify-content: center;
}